<input class="tabelle-arrow" id="{{name}}_asc" type="radio" name="sort" value="{{name}}-asc"/>
<label class="tabelle-arrow--asc" for="{{name}}_asc">
  <span class="visually-hidden">Sort {{label}} Ascending</span>
</label>

<input class="tabelle-arrow" id="{{name}}_desc" type="radio" name="sort" value="{{name}}-desc" />
<label class="tabelle-arrow--desc" for="{{name}}_desc">
  <span class="visually-hidden">Sort {{label}} Descending</span>
</label>
